.mylist {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid;
}
a {color: #43BC83;}
.list li {list-style: none;
          border-bottom: 1px solid;
          padding: 5px;}

.list li:hover {
    background: #E9E9E9;
}

.progress {
    display: inline-block;
    margin: 10px 5px;
    width: 100%;
    height: 35px;
    background: rgba(88, 88, 88, 0.3);
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.2);
}

.progress-bar {
    height: 30px;
    width: 0%;
    margin: 2px;
    display: block;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 1px rgba(0,0,0,0.5);
    background: #8aa7f7;
    background: linear-gradient(to right, #8aa7f7 0%,#77d3e7 34%,#43eab2 65%,#95ef83 100%);
}